body { background: #891236; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 46px; display: flex; }
.block-router-0 { color: #dcaaa; font-size: 15px; margin-bottom: 5px; }
.block-logger-1 { color: #27c276; font-size: 16px; margin-bottom: 5px; }
.block-cache-2 { color: #ac8394; font-size: 14px; margin-bottom: 5px; }
.block-database-3 { color: #30cdc1; font-size: 12px; margin-bottom: 5px; }
.block-database-4 { color: #7a0135; font-size: 17px; margin-bottom: 5px; }
.block-token-5 { color: #eab301; font-size: 20px; margin-bottom: 5px; }
.block-shipping-6 { color: #eeb368; font-size: 12px; margin-bottom: 5px; }
.block-helper-7 { color: #f918e3; font-size: 15px; margin-bottom: 5px; }
.block-helper-8 { color: #6a57da; font-size: 14px; margin-bottom: 5px; }
.block-uploader-9 { color: #c8eb; font-size: 16px; margin-bottom: 5px; }